
node_modules/
dist/
dist-ssr/
*.local


__pycache__/
*.py[cod]
.venv/
env/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/


.env


.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
midv500_sample
samples
download.py
