# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local

# Python / Backend
__pycache__/
*.py[cod]
.venv/
env/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/

# Environment files
.env

# Editor & OS
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
midv500_sample
samples
download.py
