PROJECT_NAME="FastAPI Backend"
API_V1_STR="/api/v1"
BACKEND_CORS_ORIGINS=["http://localhost:5173", "http://127.0.0.1:5173"]
HOST="0.0.0.0"
PORT=8000
DEBUG=true
SARVAM_API_KEY="your_sarvam_api_key_here"
ELA_JPEG_QUALITY=90
ELA_BRIGHTNESS=15
ELA_RATIO_THRESHOLD=1.5
